@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos gerais para scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: #444444 #222222;
}

/* Estilos para navegadores WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #222222;
}

::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 10px;
  border: 2px solid transparent;
}

html,
body {
  width: 100vw;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
}

.float-icon {
  position: absolute;
  right: 10px;
  top: 50%;
}

.block-height {
  height: 90vh;
}

.container {
  max-width: calc(100vw - 280px);
  min-height: 100vh; /* Exemplo para definir a altura como 100% da altura da viewport */
  overflow: auto; /* Se desejar rolagem quando o conteúdo exceder o container */
  box-sizing: border-box; /* Inclui padding e bordas na largura e altura total */
}

.fade-left {
  animation: fade-left 0.3s ease-in-out;
}

.fade-right {
  animation: fade-right 0.3s ease-in-out;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Estilo para remover seletores de números padrão no Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes fade-left {
  from {
    opacity: 0;
    translate: -10px;
  }
  to {
    opacity: 100;
    translate: 0;
  }
}

@keyframes fade-right {
  from {
    opacity: 0;
    translate: 30px;
  }
  to {
    opacity: 100;
    translate: 0;
  }
}
